<style>
  .navbar {
  min-height: 6rem;
  background-color:white;
}

.nav-link{
  font-size: 1.2rem;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light  shadow-sm  sticky-top">
  <div class="container">
    <!-- Logo / Brand -->
    <a class="navbar-brand fw-bold" href="/">
      <img src="/images/logo.png" alt="Logo" width="110" height="40" class="me-2">
    </a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/students/addstudent">Add new Student</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
          <!-- <li class="nav-item">
          <a class="nav-link active" href="/service">My Service</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">Admin</a>
        </li>
        <!-- Dropdown -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="moreMenu" role="button" data-bs-toggle="dropdown">
            More
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/settings">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul> -->
    </div> 
  </div>
</nav>